<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <ul style="display: flex;justify-content: space-between;">
        <li><a href="/studentview">view student</a></li>
        <li><a href="/viewresult">view Result</a></li>
        <li><a href="/resultstd">Std wise Result</a></li>
        <li><a href="/stafflogout">Logout</a></li>
    </ul>

    <table border="">
        <tr>
            <th>Id</th>
            <th>Student Name</th>
            <th>Roll No</th>
            <th>Std</th>
            <th>Div</th>
            <th>Result</th>
        </tr>
        <% result.forEach(function(data) { %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.name %></td>
                <td><%= data.rno %></td>
                <td><%= data.std %></td>
                <td><%= data.divi %></td>
                <td><a href="/addresult/<%= data.id%>">Add Result</a></td>
            </tr>
            <% }); %>

    </table>

</body>
</html>